<footer>
  <h1 class="footer-slogan">
   Let's work together!
  </h1>
  <ul class="profile-links">
    <li>
      <a href="mailto:{{ site.author.email }}?subject=Hi, there!">
        Email
      </a>
    </li>
    <li>
      <a href="https://dribbble.com/{{ site.author.dribbble }}"
        rel="noopener noreferrer"
        target="_blank"
      >
        Dribbble
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"
        rel="noopener noreferrer"
        target="_blank"
      >
        LinkedIn
      </a>
     </li>
    <li>
      <a href="https://www.behance.net/{{ site.author.behance }}"
        rel="noopener noreferrer"
        target="_blank"
      >
        Behance
      </a>
    </li>
  </ul>
</footer>
