<head>
  <meta charset="{{ page.encoding | site.encoding | default: 'utf-8' }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Strict-Transport-Security" content="max-age=30; includeSubdomains;">
  <meta http-equiv="X-Content-Type-Options" content="nosniff">

  {% unless jekyll.environment == "development" %}
  <meta
  http-equiv="Content-Security-Policy"
  content="upgrade-insecure-requests;
    default-src 'none';
    base-uri 'none';
    form-action 'none';
    script-src 'none';
    font-src 'self';
    img-src 'self';
    frame-src 'none';
    style-src 'self';"
  >
  {% endunless %}

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link
    rel="shortcut icon"
    href="{{ '/assets/images/favicon.ico' | relative_url }}"
    type="image/x-icon">

  <title>
    {% if page.title %}
      {{ page.title }} &mdash; {{ site.author.name }}
    {% else %}
      {{ site.author.name }} &mdash; {{ site.author.title }}
    {% endif %}
  </title>

  {% if page.title == "404 Not Found" %}
  <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <meta name="description" content="{{ site.author.intro }}">
  {% if page.tags %}
  <meta name="tags" content="{{ page.tags }}">
  {% endif %}

  {%- feed_meta -%}

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ '/assets/styling/main.css' | relative_url }}">
</head>
