<header>
  <h1>
    <a class="to-home" aria-label="Go to Home page" title="home" rel="noopener" href="/">
      {{ site.author.name }}
    </a>
  </h1>
  <p class="author-title">
    {{ site.author.title }}
  </p>
  <a class="to-main-content" rel="noopener" href="#content">
    Go to content
  </a>
</header>
