html {
  font-family: var(--content-font);
  font-size: var(--base-font-size);
  color: var(--color-text);
}

body {
  display: grid;
  grid-template-areas: \
    "header header header header"
    ". main main ."
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  min-height: 100vh;
  width: 100%;
}

main { grid-area: main; }

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--headings-font);
}

a {
  color: var(--color-text);
  text-decoration: underline var(--link-outline);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: var(--color-accent);
  -webkit-text-decoration-style: solid;
}

a:hover, a:focus {
  text-decoration: none;
  outline: var(--link-outline);
  // background-color: var(--color-accent);
}

@media (min-width: 320px) {
  html {
    font-size: calc(var(--base-font-size) + 6 * ((100vw - 320px) / 680));
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
