footer {
  display: grid;
  grid-area: footer;
}

.footer-slogan {
  align-self: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.profile-links {
  font-size: .75rem;
  justify-self: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .profile-links {
    display: flex;
  }
  .profile-links > li {
    margin: 0.5rem;
  }
}
