header {
  display: grid;
  grid-area: header;
  align-self: center;
  justify-self: center;
}

header > h1 {
  margin-bottom: 0;
  font-size: 2.2rem;
}

.to-home {
  text-decoration: none;
}

.author-title {
  margin: 0;
  justify-self: center;
  font-size: 1.2rem;
}

.to-main-content {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.to-main-content:focus {
  position: static;
  text-decoration: none;
  outline: var(--link-outline);
  clip: auto;
  height: auto;
  width: auto;
}
