---
# Only main.scss needs a front matter
---
@charset "UTF-8";

// This file is meant to hold all global variables. They might be
// redefined inside relevant modules usually through media queries, though.
// The idea is to keep modules as independent, and self-contained as possible.

@font-face {
  font-family: "Montserrat";
  src: url({{ "/assets/fonts/Montserrat-Regular.ttf" | relative_url }});
}

@font-face {
  font-family: "Pridi";
  src: url({{ "/assets/fonts/Pridi-Regular.ttf" | relative_url }});
}

:root {
  --color-text: #343A40;
  --color-accent: #FAB005;
  --link-outline: 2.2px solid var(--color-accent);
  --content-font: "Montserrat";
  --headings-font: "Pridi";
  --base-font-size: 16px;
}

@import // from _scss/
"base",
"header",
"footer";
